* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #060606;
}

.main {
    width: 600px;
    height: 320px;
    padding: 32px;
    background: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countdownTitle {
    font-size: 48px;
}

.countdownMain {
    display: flex;
    user-select: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 4px;
}

.countdownParts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.countdownDigitFrame {
    height: 120px;
    overflow: hidden;
    font-size: 54px;
    background: #ebebeb;
    border-radius: 8px;
}

.countdownUnit {
    font-size: 24px;
}

.countdownSeparator {
    font-size: 48px;
}

.countdownDigits {
    display: flex;
    gap: 8px;
}

.countdownNumberWrapper {
    transition: translate 0.5s cubic-bezier(0.68, -0.55, 0.07, 1.11);
}

.countdownNumberWrapper[data-number="0"] {
    translate: 0px calc(-1080px + 120px * 0)
}

.countdownNumberWrapper[data-number="1"] {
    translate: 0px calc(-1080px + 120px * 1)
}

.countdownNumberWrapper[data-number="2"] {
    translate: 0px calc(-1080px + 120px * 2)
}

.countdownNumberWrapper[data-number="3"] {
    translate: 0px calc(-1080px + 120px * 3)
}

.countdownNumberWrapper[data-number="4"] {
    translate: 0px calc(-1080px + 120px * 4)
}

.countdownNumberWrapper[data-number="5"] {
    translate: 0px calc(-1080px + 120px * 5)
}

.countdownNumberWrapper[data-number="6"] {
    translate: 0px calc(-1080px + 120px * 6)
}

.countdownNumberWrapper[data-number="7"] {
    translate: 0px calc(-1080px + 120px * 7)
}

.countdownNumberWrapper[data-number="8"] {
    translate: 0px calc(-1080px + 120px * 8)
}

.countdownNumberWrapper[data-number="9"] {
    translate: 0px calc(-1080px + 120px * 9)
}

.countdownNumber {
    height: 120px;
    padding: 24px;
}